<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Character test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/form.css" th:href="@{/css/form.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
 <div class = "row">
	<div class = "column"></div>
	<div class = "column" id = "form">
	<h1>Sign-up</h1>
     <div>
		<form class="login" th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
			<div>
				<label> Username</label><input type="text" th:field="*{username}" class="form-control"/>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			</div>
			<div>
				<label> Password</label><input type="password" th:field="*{password}" class="form-control"/>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Re-type Password</label> <input type="password" th:field="*{passwordCheck}" class="form-control"/>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			
			<input type="submit" class="btn btn-primary" value="Sign-up"></input>		
		</form>
		</div>
		<div class = "column"></div>
		</div>
	</div>
</div>
</body>
</html>